[Desktop Entry]
Name=Strata
Comment=Keyboard Management and Live Layer Visualizer
Exec=strata %U
Icon=strata
Terminal=false
Type=Application
Categories=Utility;HardwareSettings;
Keywords=Keyboard;ZMK;Corne;Voyager;Layers;Keymap;
StartupNotify=true
StartupWMClass=strata
